<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--form>
				  <div class="form-group">
				    <label for="r90Height">Estatura</label>
				    <input type="text" class="form-control" id="r90Height" placeholder="Estatura">
				  </div>
				  <div class="form-group">
				    <label for="r90Weight">Peso</label>
				    <input type="text" class="form-control" id="r90Weight" placeholder="Peso">
				  </div>
				  <input id="btnIMC" type="submit" class="btn btn-default" value="Calcular IMC" placeholder="Calcular IMC">
				</form-->
				<div id="app">
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3">
							<h3 class="imc-calculator__title">Calcula tu IMC</h3>
							<h4 class="imc-calculator__subtitle">Solo llena los siguientes campos y descubre si tu IMC es el adecuado.</h4>
							<p class="imc-calculator__instructions">
								Es importante que recuerde introducir su altura en centímetros en lugar de en metros en la casi de altura. De esta forma, si mide 1.70 metros, deberá escribir 170 en el cuadro de altura.
							</p>
						</div>
					</div>

				  <div class="row">
				  	<div class="col-md-4 col-md-offset-4">
				  		<div class="imc-calculator">
						  	<div class="form-group">
							  	<label for="height" class="col-md-2 control-label">Altura</label>
							  	<div class="col-md-10">
							  		<input id="height" v-model.number="height" class="form-control" placeholder="Altura">
							  	</div>
							  </div>
							  <div class="form-group">
							  	<label for="height" class="col-md-2 control-label">Peso</label>
							  	<div class="col-md-10">
							  		<input id="weight" v-model.number="weight" class="form-control" name="weight" placeholder="Peso">
							  	</div>
							  </div>
							  <div class="form-group">
							  	<button type="subtmit" v-on:click="imc()" class="btn btn-default imc--btn">Calcular</button>
							  </div>
						  </div>
				  	</div>
				  </div>

				  <div class="row text-center">
						<div class="col-md-4 col-md-offset-4">
							<h3 class="imc-calculator__title">Resultado</h3>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-md-4 col-md-offset-4">
							<h3 class="imc-calculator__subtitle">
								<p v-if="height == ''">Tu IMC es de: </p>
								<p v-else>Tu IMC es de: <span>{{ imc() }}</span></p>
							</h3>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3">
							<h3 class="imc-calculator__subtitle">Atendiendo al IMC, tiene: </h3>
							<p class="imc--results" v-if="imc() < 16"><span>Infrapeso: Delgadez Severa</span></p>
							<p class="imc--results" v-else-if="(imc() <= 16.99)"><span>Infrapeso: Delgadez moderada</span></p>
							<p class="imc--results" v-else-if="(imc() <= 18.49)"><span>Infrapeso: Delgadez aceptable </span></p>
							<p class="imc--results" v-else-if="(imc() <= 24.99)"><span>Peso Normal </span></p>
							<p class="imc--results" v-else-if="(imc() <= 29.99)"><span>Sobrepeso </span></p>
							<p class="imc--results" v-else-if="(imc() <= 34.99)"> <span>Obeso: Tipo I </span></p>
							<p class="imc--results" v-else-if="(imc() < 40.00)"> <span>Obeso: Tipo II </span></p>
							<p class="imc--results" v-else-if="(imc() >= 40.00)"> <span>Obeso: Tipo III </span></p>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="imc-calculator__subtitle"><p>Tu estatura es de: <span>{{ height }}</span> cm y tu peso es de: <span>{{ weight }}</span> kg</p></h3>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3">
							<h3 class="imc-calculator__subtitle">Clasificación de la Organización Mundial de la Salud:</h3>
							<div class="col-md-6">
								<ul class="imc-clasification">
									<li>CLASIFICACIÓN</li>
									<li>Infrapeso: Delgadez Severa</li>
									<li>Infrapeso: Delgadez moderada</li>
									<li>Infrapeso: Delgadez aceptable</li>
									<li>Peso Normal</li>
									<li>Sobrepeso</li>
									<li>Obeso: Tipo I</li>
									<li>Obeso: Tipo II</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="imc-clasification">
									<li>ÍNDICE MASA CORPORAL</li>
									<li>< 16.00</li>
									<li>16.00 - 16.99</li>
									<li>17.00 - 18.49</li>
									<li>18.50 - 24.99</li>
									<li>25.00 - 29.99</li>
									<li>30.00 - 34.99</li>
									<li>35.00 - 40.00</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3">
							<div class="imc-calculator__subtitle imc-block">
								Si tu IMC no es el adecuado para tu talla, es momento de iniciar el Reto 90. 
								A continuación te explicamos cómo llevarlo a cabo para obtener los mejores resultados.
							</div>
						</div>
					</div>

					
					
					<!--input id="btnIMC" type="submit" class="btn btn-default" value="Calcular IMC" v-on:click="imc"-->
					
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/main.js"></script>
</body>
</html>