body {
	background: #5e3463;
	color: #fff;
}

.imc-calculator {
	padding-top: 4rem;
	font-family: 'Open Sans';
    font-size: 14px;
}

.imc-calculator .form-group {
	padding: 1rem 0;
    margin-bottom: 3rem;
}

.imc-calculator__title {
	font-family: 'Fjalla One';
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.imc-calculator__subtitle {
	font-family: 'Open Sans';
    font-size: 13px;
    padding: .5rem 0;
}

.imc-calculator__instructions {
	font-size: 12px;
    font-family: 'Open Sans';
}

.imc--btn {
	background: #f0af46;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 1rem 5rem;
    margin: .5rem auto;
}

input.form-control {
	background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.imc-calculator__subtitle span,
.imc--results span {
	border: 1px solid #fff;
    padding: .5rem 2rem;
    border-radius: 3px;
    margin: 0 2rem;
}

.imc-clasification {
	list-style: none;
}

.imc-clasification li {
	text-align: left;
	font-family: 'Open Sans';
	font-size: 12px;
}

.imc-clasification li:first-child {
	color: #f0af46;
	padding: 1rem 0;
	font-weight: bold;
}

.imc-clasification li:last-child {
	margin-bottom: 4em;
}

.imc-block { padding: 2rem 0 4rem 0; }